@font-face {
  font-family: Vazir;
  src: url("./fonts/CollectionPersianWebFont/vazir-font-v18.0.0/Vazir.ttf")
      format("woff2"),
    url("./fonts/CollectionPersianWebFont/vazir-font-v18.0.0/Vazir.ttf")
      format("woff"),
    url("./fonts/CollectionPersianWebFont/vazir-font-v18.0.0/Vazir.ttf")
      format("truetype");
}

* {
  box-sizing: border-box;
  font-family: Vazir;
}

.all {
  display: grid;
  grid-template-rows: auto;
  gap: 2vw;
  padding-left: 12vw;
  padding-right: 12vw;
}

/* Header ********************************* */

.navClass {
  display: flex;
  text-align: right;
  justify-content: space-between;
}
.navClass img {
  width: auto;
  height: auto;
}

.navClass a {
  border: none;
  border-bottom: solid #ffffff;
  text-decoration: none;
  transition: 1s;
  transition-timing-function: ease;
  vertical-align: middle;
  margin: 1vw;
  white-space: nowrap;
}

.navClass a:hover {
  border-bottom: solid rgb(23, 148, 254);
  color: rgb(23, 148, 254);
  cursor: pointer;
}

.navClass .icon {
  display: none;
}

@media screen and (max-width: 648px) {
  .navClass {
    display: inline;
  }
  .navClass a {
    display: none;
  }
  .navClass a.icon {
    float: none;
    display: block;
  }
  .navClass button {
    display: none;
  }
}

@media screen and (max-width: 648px) {
  .navClass.responsive {
    position: relative;
  }
  .navClass.responsive .icon {
    position: center;
    color: red;
  }
  .navClass.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
  .navClass.responsive button {
    width: 50%;
    height: auto;
    display: block;
  }
}

.navClass button {
  color: rgb(23, 148, 254);
  background-color: lightblue;
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  width: 100%;
  height: auto;
}

.navClass button:hover {
  background-color: rgb(23, 148, 254);
  cursor: pointer;
  color: white;
}

/* second Row********************************* */

.secondRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.secondRowText {
  align-self: center;
}

.secondRow h2 {
  color: rgb(23, 148, 254);
}
.secondRow button {
  border-radius: 5px;
  border-color: rgb(23, 148, 254);
  border-width: 1px;
  color: rgb(23, 148, 254);
  margin: 2px;
  padding: 10px 25px;
  background-color: white;
}

.secondRow button:hover {
  cursor: pointer;
  background-color: rgb(23, 148, 254);
  color: white;
}

.secondRow img {
  background-repeat: no-repeat;
  object-fit: scale-down;
  transition: 0.5s;
  transition-timing-function: ease;
  width: 100%;
  height: auto;
  align-items: center;
}

.secondRow img:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(-3deg);
}

/* third Row********************************* */
.thirdRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
}

.thirdRow img {
  background-repeat: no-repeat;
  padding: 2rem;
  width: 100%;
  height: auto;
  transition: 0.5s;
  transition-timing-function: ease;
}

.thirdRow img:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(3deg);
}

.thirdRowInnerContent1 {
  color: rgb(23, 148, 254);
  border-right: solid green;
  text-indent: 10px;
}

.thirdRowContent2 {
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  padding-top: 5vw;
}

.thirdRow figure {
  border: 0;
  margin: 0;
}

.thirdRowContent2 img {
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgb(23, 148, 254);
  padding: 10px;
  width: 3rem;
  height: 3rem;
}

.thirdRow i {
  color: blue;
}

.thirdRow figcaption {
  padding-top: 2vw;
}

/* Fourth Row********************************* */
.fourthRowContent2 p {
  margin: 0%;
  align-self: center;
  justify-self: center;
}

.fourthRow {
  margin: 10px;
}
.fourthRowHeader {
  color: rgb(23, 148, 254);
  border-right: solid green;
  text-indent: 10px;
}

.fourthRowContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
}

.fourthRowContent1 {
  padding: 1vw;
  justify-content: space-between;
  white-space: nowrap;
}

.fourthRow figcaption {
  padding-top: 2vw;
}

.fourthRow figure {
  margin: 2.5vw;
}

.fourthRow i {
  font-size: 3vw;
  color: gray;
}

.fourthRow i:hover {
  cursor: pointer;
  font-size: 3vw;
  color: blue;
}

/* Fifth Row********************************* */
.fifthRow {
  align-items: center;
  background-color: rgb(1, 137, 255);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.fifthRow div div img {
  background-color: blue;
  width: 5vw;
  height: 2vw;
  margin: 1vw;
}
.fifthRow img {
  align-self: auto;
  justify-self: auto;
  border-radius: 30px;
}

/* Sixth Row********************************* */
.sixthRow {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.sixthRow h1 {
  color: rgb(23, 148, 254);
  border-right: solid green;
}

.sixthRow img {
  align-self: center;
  justify-self: center;
  width: 100%;
  height: auto;
}

/* Seventh Row********************************* */
.seventhRow {
  background-color: rgb(23, 148, 254);
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.seventhRowContent1 {
  color: white;
  text-indent: 5px;
  margin: 10px;
}
.seventhRow img {
  margin: 10px;
  float: left;
}

/* Footer *************************** */
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.footer a i {
  color: black;
}
.footer a img {
  background-color: black;
  width: 100%;
  height: 2vw;
  border-radius: 5px;
}
